/* RESET CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITIES */
.border-red{
    border: 2px solid red;
}
.border-blu{
    border: 2px solid blue;
}
.border-black{
    border: 2px solid black;
}
.border-violet{
    border: 2px solid violet;
}
.flex-end{
    display: flex;
    justify-content: flex-end;
}
.flex-center{
    display: flex;
    justify-content: center;
}
.flex-spc-and{
    display: flex;
    justify-content: space-around;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-column-spc-btw{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flex-column-end{
    justify-content: flex-end;
}
.bg-grey{
    background-color: rgb(37, 37, 44);
}

.bg-black{
    background-color: black;
}
.text-white{
    color: white;
}
.text-grey{
   color: rgb(89, 95, 100); 
}


/* TEMPORARY DEBUG */

.headbar {
    background-color: rgb(38, 45, 51);
}
.upgrade{
    margin: 15px 15px;
}

.main-container{
    display: flex;
}
.left-navbar{
    width: 200px;
}
.main-section{
    width: calc(100% - 200px);
}

li{
    list-style-type: none;
}
.card-container{
    display: flex;
}

.card{
    text-align: center;
    width: calc(100% / 6);
}
img{
    width: 90%;
}
.circle-card{
    border-radius: 100px;
}
