/* RESET CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat"
}



/* UTILITIES */
.border-red{
    border: 2px solid red;
}
.border-blu{
    border: 2px solid blue;
}
.border-black{
    border: 2px solid black;
}
.border-violet{
    border: 2px solid violet;
}
.flex-display{
    display: flex;
}
.flex-end{
    display: flex;
    justify-content: flex-end;
}
.flex-start{
    display: flex;
    justify-content: flex-start;
}
.flex-center{
    display: flex;
    justify-content: center;
}
.flex-spc-and{
    display: flex;
    justify-content: space-around;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-column-spc-btw{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flex-column-spc-and{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.flex-column-end{
    justify-content: flex-end;
}
.bg-grey{
    background-color: rgb(37, 37, 44);
}

.bg-black{
    background-color: black;
}
.text-white{
    color: white;
}
.text-grey{
   color: rgb(89, 95, 100); 
}

a{
    text-decoration: none;
    color: white;
}
.display-none{
    display: none;
}


/* TEMPORARY DEBUG */

.headbar {
    background-color: rgb(38, 45, 51);
}
.upgrade{
    margin: 15px 15px;
}

.main-container{
    display: flex;
    
}
.left-navbar{
    width: 200px;

}
.first-navbar-container{
    gap: 15px;
    padding: 5px 15px;
}

.second-navbar-container{
    padding: 5px 15px;
    
}

.main-section{
    width: calc(100% - 200px);
}

li{
    list-style-type: none;
}
.card-container{
    display: flex;
    padding: 25px;
}

.card{
    text-align: center;
    width: calc(100% / 6);
}

.album-cover{
    width: 80%;
}

img{
    width: 45%;
}
.logo-small{
    width: 25%;
}

.circle-card{
    border-radius: 100px;
}
.upgrade-btn{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 35px;
    border-radius: 90px;
    font-size: 10px;
}
.upgrade{
    padding: 10px 10px;
}

.scroll-list{
    gap: 45px;
    padding-top: 25px;
}

h2{
    padding: 15px;
}
.dwl-svg{
    width: 10%;
}